/********************************************/
/*Este documento de CSS sera el estilado de */
/*La pagina hobbie_h                        */
/*Autor: Leonardo COntreras Martinez        */
/********************************************/

/*
Body de la pagina.
 */
body.hobbies{
    background-image:url("../res/imgs/kirby-game-art-4k-wallpaper-uhdpaper.com-462@0@h.jpg");
    background-size:100%;
    background-attachment: fixed;

}
/**Div encargado de mostrar el header de la pagina*/

div.header{
    width: 50%;
    height: 100%;
    display:grid;
    top: 0;
    vertical-align: center;
    margin: auto;
    border: black solid 1px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,185,0.8085434857536764) 50%, rgba(252,176,69,1) 100%);
    border-radius:30px
}
/*Div encargado de mostrar el contenido del lado izquierdo de la pagina.
Contiene un indice de los temas que se abordan dentro de la pagina con un anchor cada tema para saltar mas facilmente.
*/
div.izq{
    float: left;
    margin:10px auto;
    display: inline-block;
    width: 30%;
    height: fit-content;
    justify-content: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,246,0.7215218851212359) 100%);
    border-radius: 30px;
    padding-bottom: 5%;
    overflow-y:scroll;
}
/*Este bloque div es aprox el 70% del documento web apartir del 30% de lo que marca el margen y el otro 30% del div izquierdo, aqui vendra el contenido principal
de la pagina web, tiene un atributo de 59% en la propiedad width debido a que queria dejar un espaciado entre todos los divs.
Cuenta con un inner scroll, por eso tiene una propiedad height que marque un 40vw.
 */
div.resto{
    width: 59%;
    height: 48.5vw;
    float:right;
    margin:10px auto;
    padding-top: 1%;
    padding-left: 5%;
    padding-right:5%;
    display: inline-block;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,0.4780112728685224) 100%);
    overflow-y:scroll;
    border-radius: 30px;

}

div.bottom{
    width: 100%;
    height: 30%;
    bottom: 0;
    margin-top: 40%;
    padding-top: 10%;
    justify-content: center;
}
/*
Font utiizada para el titulo "indice"
*/
font.colorRojo{
    font-size: 30px;
    color: red;
    text-align: center;
    font-family: Cursive;
    font-style: italic;
}
/*
Clase P utilizada para los titulos de la lista y el header.
 */
p.titulos{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: black;
}
/*
Clase P utilizada para el contenido gral de la pagina
 */
p.content{
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    color: bisque;
}
/*
Clase P utilizada para el titulo del header
 */
p.header{
    font-size:50px;
    font-family: 'Permanent Marker', cursive;
    color: crimson;
}
/*
Unordered List utilizada para el indice
 */
ul.indice{
    font-family: "Comic Sans MS";
    color: black;
    font-size: 20px;
}
/*
Unordered List utilizada para las demas listas del doc
 */
ul.listas{
    font-family: 'Shantell Sans', cursive;
    color: navajowhite;
    font-size: 20px;
    display: inline-block;
    text-align: center;
}
/*
Clase IMG encargada de las imagenes que use en UL
 */
img.imagenes{
    width: auto;
    height: 100px;
}
/*
Imagenes en solitario, un poco mas grandes
 */
img.imagenesSolo{
    width: auto;
    height: 200px;
}
/*
Clase IMG para el gif de kirby en el header
 */
img.kirbyGif{
    content:url("../res/gifs/kirby.gif");
    width: auto;
    height: 100px;
}
/*
Clase IMG utilizada para los logos en redes
 */
img.logo{
    width: auto;
    height: 50px;
}

a.color{
    color:white;
}
/*
Esta parte es la qque use para modificar el scrollbar de la pagina*/
/* width */
::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5w;
    border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 50px;
    height: 70%;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}