*{
    margin: 0;
    padding: 0;
}

/*Div encargado de tener el header, en este caso imitar el estilo de un contacto de wsp*/
div.header{
    height: 20vh;
    background: darkslategray;
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

/*Letra para el header*/
.infoH p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    vertical-align: center;
    padding-left: 2vw;
    font-size: 30px;
}
/*Propiedades para que se vea de buena forma la info*/
.infoH{
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align-all: center;
    display: flex;
}
/*Logo del "contacto"*/
.header img{
    height: 100px;
    border-radius: 50px;
    vertical-align: center;
}
/*Aqui ira el cuerpo de la pagina, el chat*/
div.body{
    background-image: url("../media/imgs/linkin-park.jpg");
    background-attachment: fixed;
    background-size: 100%;
    max-height: 100%;
    min-height: 80vh;
    padding: 5%;
    overflow-y: scroll;
}
/*Solamente para mostrar el boton para iniciar la historia*/
div.start{
    text-align: center;
    margin: auto;
}
/*Propiedades del boton para iniciar*/
.start button{
    width: 100px;
}
/*Div donde ira apareciendo el chat del lado izquierdo*/
div.left{
    float: left;
    width: 100%;
}
/*Div donde ira apareciendo el chat del lado derecho*/
div.right{
    float: right;
    width: 100%;
    display: inline-block;
    margin: auto;
    line-height: 1.6;
}

/*Propiedades de texto de la burbuja de chat*/
.bubble p{
    font-size: 30px;
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vh;
    background: transparent;
    margin: auto;
    max-width: 40vw;
    text-justify: none;
}
/*Burbuja de chat de lado izquierdo*/
div.left .bubble {
    position: relative;
    background: #7e7e8f;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 20px;
    text-align: justify;
    align-items: center;
    max-width: fit-content;
    min-height: 10vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
/*Aqui se le agrega el triangulito que aparece a la izquierda*/
div.left .bubble :after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #7e7e8f transparent transparent;
    top: 40%;
    left: -20px;
    margin-top: -10px;
}
/*Div para burbuja de chat del lado derecho*/
div.right .bubble {
    float: right;
    position: relative;
    background: #519c53;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 20px;
    text-align: justify;
    width: fit-content;
    min-height: 10vh;
    border-radius: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-bottom: 20px;
}
/*Para mostrar el triangulo*/
div.right .bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #519c53;
    top: 40%;
    right: -20px;
    margin-top: -10px;
}
/*Propiedades para que las imagenes encajen correctamente*/
.bubble img{
    max-width: 40vw;
    max-height: 60vh;
    margin: 1vw 1vh;
    border-radius: 20px;
}
/*P para poder mostrar las horas a la que se envia mensaje*/
p.horas{
    color: black;
    font-size: 15px;
    float: right;
    padding-left: 0;
    vertical-align: bottom;
    padding-top: 20%;
    margin: 0;
}
/*Botones que apareceran en el chat para ir desvelando la conversacion*/
.messages button{
    width: 50px;
    color: white;
    background: transparent;
    border: 0;
    font-size: 25px;
}
/*Un iframe para adaptarse a las propiedades de la burbuja*/
iframe{
    padding: 1vw 1vh;
    border: 0;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}
/*@media para poder hacer que no se desborde la pagina a la hora de minimizarse*/
@media (max-width: 600px){
    div.left,div.right{
        line-height: 1.6;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
    div.left{
        margin-right: 100%;
    }
    div.right .bubble{
        flex-direction: column;
        margin-left: 50%;
        margin-bottom: 2vh;
    }

    iframe{
        width: 35vw;
        height: fit-content;
    }
}