*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Consolas, serif;
}

html{
    scroll-behavior: smooth;
}

body.index{
    background: url("../media/imgs/bgIndex.jpeg") fixed;
    background-size: 100%;
    position: relative;
}

div.startIndex{
    width: 80%;
    margin: auto;
    height: 100vh;
    position: relative;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.startIndex h1{
    font-size: 90px;
    color: white;
}

.startIndex button{
    background: none;
    font-size: 30px;
    color: white;
    margin-top: 50px;
    opacity: 0;
    transition: .35s ease-in-out;
}


button:hover{
    transition: .35s ease-in-out;
    cursor: pointer;
    font-size: 40px;
}

div.mainContent{
    width: 80%;
    height: fit-content;
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
    margin: 50px auto;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    padding: 20px;
    display: none;
}

.mainContent h2{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
}

.mainContent p{
    text-align: center;
    margin: 30px 0 auto;
}

.mainContent a{
    margin-top: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

div.contentInMain{
    display: flex;
    justify-content: space-between;
}

.contentInMain h1{
    color: crimson;
}

.contentInMain p{
    color: white;
    font-size: 20px;
}

img.desc{
    width: 22vw;
    height: auto;
    transition: ease-in-out .35s;
}

img.desc:hover{
    cursor: pointer;
    width: 23vw;
    transition: width .35s;
}

.first,.second,.third{
    text-align: center;
    width: 30%;
}

.first p,.second p,.third p{
    text-align: justify;
}
/*Aqui termina las clases de la primer pagina*/

/*Aqui comienza las clases de la segunda pagina*/
body.cpu{
    background: url("../media/imgs/cpuBg.png") fixed;
    background-size: 100%;
}
div.headCpu{
    height: 30vh;
    width: 100vw;
    background: black;
    text-align: center;
    align-items: center;
    background: url("../media/imgs/gifWp.gif") fixed;
    background-size: 100%;
}

.headCpu h1{
    color: white;
    margin: auto;
    line-height: 30vh;
    font-size: 5vw;
}

.titleCpu{
    text-align: center;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
}

.titleCpu h1{
    color: white;
    line-height: 10vh;
}

.mainCpu{
    width: 100%;
    height: fit-content;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,230,241,1) 0%, rgba(145,192,241,1) 45.5% );
}

.mainCpu .content{
    padding: 10px 20px;
    text-align: justify;
    text-justify: distribute-center-last;
}

div.img{
    width: 100%;
    align-items: center;
    text-align: center;
}

.mainCpu p{
    font-size: 1.5em;
}

.buttonsCpu{
    width: 100%;
    background: #000;
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 30px;
}

.buttonsCpu button{
    padding: 5px;
}

.buttonsCpu button:hover{
    font-size: 15px;
}

.changeCpuContent{
    opacity: 0;
}
/*Aqui terminan las clases de la pagina processors*/

/*Aqui comienza las clases de la pagina gpu*/
body.gpu{

}

.header{
    background: url('../media/imgs/techlines.jpg') fixed;
    text-align: left;
    width: 100%;
    height: 15vh;
}

.header h1{
    color: white;
    line-height: 15vh;
    padding-left: 20px;
}

.contentGpu{
    display: flex;
    width: 100%;
    height: fit-content;
}

.containerGpuImg{
    padding-top: 20px;
    width: 30%;
    height: fit-content;
}

.gpuImg{
    width: 30vw;
}

.containerGpu{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 20px;
}

.red{
    background-image: radial-gradient( circle 972.6px at 10% 20%,  rgba(243,0,75,1) 0%, rgba(255,93,75,1) 90% );
    color: white;
    padding-bottom: 20px;
}

.green{
    background-image: linear-gradient( 109.6deg,  rgba(33,103,43,1) 11.3%, rgba(117,162,61,1) 91.1% );
    padding-bottom: 20px;
    color: white;
}

div.showLater{
    width: 100%;
    height: fit-content;
}

div.buttonsGpu{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-image: linear-gradient( 89.9deg,  rgba(178,253,238,0.96) -8.1%, rgba(207,244,254,1) 26.3%, rgba(207,244,254,0.48) 47.5%, rgba(254,219,243,0.63) 61.5%, rgba(254,219,243,1) 78.7%, rgba(254,207,210,1) 109.2% );
}

div.buttonsGpu button{
    background: none;
    color: crimson;
    font-size: 25px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px;
}

.buttonsGpu button:hover{
    font-size: 30px;
    line-height: normal;
}

.toShow dt{
    padding-left: 10px;
}

.toShow dd{
    padding-left: 30px;
}

.toShow{
    color: white;
    padding: 20px 0;
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
}
/*Aqui termina las clases de la pagina gpus*/

/*Aqui comienza las clases de la pagina os*/
body.os{
    overflow-x: hidden;
}
div.headerOs{
    width: 100%;
    height: 20vh;
    background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
    text-align: center;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

.headerOs h1{
    color: white;
    line-height: 20vh;
}

.os .index{
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
    margin-right: 10px;
    max-width: 50%;
}
.logoT{

}

.logo{
    height: 10vh;
    width: auto;
    line-height: 20vh;
    padding: 0 30px;
}

.content{
    margin-top: 50px;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

img.os{
    height: 120px;
    width: auto;
}

.context p{
    font-size: 30px;
    padding: 5px 30px;
}

.os .buttons{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.os .buttons button{
    color: crimson;
    background: black;
    padding: 20px;
    border-radius: 30px;
}

.os button:hover{
    font-size: 20px;
}