*{
    font-family: 'Indie Flower', cursive;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body.cpus{
    background-image: url("../media/imgs/wallpaper.jpg");
}

body.gpus{
    background: white;
}

div.lateral{
    float: left;
    width: 15vw;
    height: 50.5em;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    position: relative;
    border-radius: 10px;
}

div.logo{
    width: 15vw;
    height: 10vw;
    top: 0;
    padding-left: 30%;
    position: relative;
    border-radius: 50px;
}

div.logo p{
    padding-top: 1vw;
    padding-right: 5vw;
    margin: 0 auto;
    font-size: 2vw;
    padding-bottom: 0;
    color: white;
    font-family: 'Fredoka One', cursive;

}

div.logo img{
    width: auto;
    height: 4vw;
    padding-top:0;
    padding-left: 1vw;
}

div.restoLateral{
    width: 100%;
    height: 20vw;
    position: relative;
    top: 20%;
}

div.restoLateral ul{
    margin: 0;
    text-align: center;
    border-radius: 20px;
    font-size: 1vw;
}

div.restoLateral .tabs{
    list-style-type: none;
    border-radius: 10px;

}

div.restoLateral .tabs .tab{
    display: block;
    font-family: 'Secular One', sans-serif;
    font-size: 1em;
    border-radius: 10px;
    padding-left: 0;
    padding-bottom: 10px;
}

div.restoLateral .tabs .tab a[data-switcher]{
    display: block;
    padding: 1em 3em;
    text-decoration: none;
    color: crimson;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    cursor: pointer;
    border-radius: 0px;
    font-family: 'Secular One', sans-serif;
}

div.restoLateral .tabs .tab:hover a[data-switcher]{
/*background: rgb(251,63,135);
    background: radial-gradient(circle, rgba(251,63,135,1) 0%, rgba(70,124,252,0.4780112728685224) 100%);*/
}

div.restoLateral .tabs .tab a{
    display: block;
    padding: 1em 3em;
    text-decoration: none;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    cursor: pointer;
    border-radius:0;
    color:crimson;
    font-family: 'Secular One', sans-serif;
}

div.restoLateral .tabs .tab:hover a{
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
}

div.restoLateral .tabs .tab.is-active a[data-switcher]{
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    font-weight: 700;
}


div.restoDerecha{
    position: static;
    margin-left: 10vw;
    padding: 10vw;
    width: 80vw;
    height: 100%;
    background: red;
}

header{
    background: rgb(174,193,238);
    background: linear-gradient(130deg, rgba(174,193,238,1) 0%, rgba(246,20,20,0.7301120277212447) 100%);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

header nav .tabs{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
}

header nav .tabs .tab{
    display: block;
    font-family: 'Indie Flower', cursive;
    border-radius: 10px;
}

header nav .tabs .tab a[data-switcher]{
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #FFF;
    background-color: royalblue;
    cursor: pointer;
    border-radius: 50px;
}

header nav .tabs .tab:hover a[data-switcher]{
    background: rgb(251,63,135);
    background: radial-gradient(circle, rgba(251,63,135,1) 0%, rgba(70,124,252,0.4780112728685224) 100%);
}

header nav .tabs .tab a{
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #FFF;
    background-color: royalblue;
    cursor: pointer;
    border-radius: 50px;
}

header nav .tabs .tab:hover a{
    background: rgb(251,63,135);
    background: radial-gradient(circle, rgba(251,63,135,1) 0%, rgba(70,124,252,0.4780112728685224) 100%);
}
header nav .tabs .tab.is-active a[data-switcher]{
    background: rgb(251,63,135);
    background: radial-gradient(circle, rgba(251,63,135,1) 0%, rgba(70,124,252,0.4780112728685224) 100%);
    font-weight: 700;
}

p.titulosCpu{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Fredoka One', cursive;
}
div.indexAmd{
    float:left;
    height: 100%;
    width: 20vw;
    padding-left: 1px;
    border-radius: 10px;
    background-image: linear-gradient( 179.4deg,  rgba(132,56,122,1) 14.6%, rgba(190,24,49,1) 104.7% );
    margin-right: 10px;
}

div.indexIntel{
    float:left;
    height: 100%;
    width: 20vw;
    padding-left: 1px;
    border-radius: 10px;
    background-color: blue;
    box-shadow: 10px 3px 6px rgba(0,0,0,0.1);
    margin-right: 10px;
}

div.centralBodyAmd{
    width: 70%;
    height: 40vw;
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    margin-left: 22vw;
    border-radius: 20px;
    padding-left: 20px;
    overflow-y: scroll;
    box-shadow: 10px 3px 6px rgba(0,0,0,0.1);
    scroll-behavior: smooth;
}

div.centralBodyIntel{
    width: 70%;
    height: 40vw;
    background: rgb(174,193,238);
    background: linear-gradient(130deg, rgba(174,193,238,1) 0%, rgba(255,255,255,0.6320728120349702) 100%);
    margin-left: 22vw;
    border-radius: 20px;
    padding-left: 20px;
    overflow-y: scroll;
    box-shadow: 10px 3px 6px rgba(0,0,0,0.1);
    scroll-behavior: smooth;
}

p.contentBody{
    padding-top:10px;
    font-size: 1.8vw;
    justify-content: center;
    padding-bottom: 10px;
    text-align: justify;
    text-justify: auto;
    margin-right: 20px;
}

p.footerImage{
    font-size: 2vw;
    padding-bottom: 2px;
    color:crimson;
}

p.titleBody{
    padding-top:10px;
    margin: 0 auto;
    font-size: 3vw;
}

ul.listAmd{
    font-size: 1.5vw;
    color:antiquewhite;
}

ul.listAmd li{
    list-style-type: none;
    border-bottom: 1px solid black;
    padding: 5px 8px;
    border-radius: 10px;
}

ul.listAmd li:hover{
    background: black;
}

ul.listIntel{
    font-size: 1.5vw;
    color:antiquewhite;
}

ul.listIntel li{
    list-style-type: none;
    border-bottom: 1.2px solid antiquewhite;
    padding: 5px 8px;
    border-radius: 10px;
}

ul.listIntel li:hover{
    background: black;
}

ol{
    font-size: 1.4vw;
    color: antiquewhite;
    margin-bottom: 10px;
    margin-left: 3vw;
}

ol li{
    margin-bottom: 5px;
    margin-left: 1vw;
}
img.logo{
    height: 50px;
    width: 50px;
}

img.images{
    height: 3vw;
    width: auto;
}

img.cpus{
    height: 10vw;
    width: auto;
    display: block;
}
main{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 100%;
}

.pages{
    margin-top:0px;
    padding-left: 4rem;
    padding-top: 3rem;
    background: rgb(174,193,238);
    background: linear-gradient(130deg, rgba(174,193,238,1) 0%, rgba(255,255,255,0.6320728120349702) 100%);
    box-shadow: 10px 3px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 51rem;
    width: 100%;
}

.pages .page{
    display: none;
}

.pages .page.is-active{
    display: block;
}

.pages .page.is-active.nvidia{
    display: block;
    margin-top:0px;
    margin-left: 20vw;
    padding: 2vw 1vw;
    background: black;
    box-shadow: 10px 3px 6px rgba(0,0,0,0.1);
    border-radius: 50px;
    height: 43em;
    width: 60em;
}

.pages .page.is-active.amd{
    display: block;
    margin-top:0px;
    margin-left: 20vw;
    padding: 4vw 2vw;
    background: black;
    box-shadow: 10px 3px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 43em;
    width: 60em;
}

div.container{
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5rem;
    width: 57em;
    height: 40em;
    border-radius: 50px;
    padding: 1vw 3vw;
}

div.container.nvidia{
    background: lime;
}

div.container p.titleBody{
    text-align: center;
    justify-content: center;
    color: white;
    border-bottom: 3px black solid;
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
}
table.nvidia{
    background: transparent;
    margin-top: 10px;
    padding: 0;
    border-spacing: 0;

}

th.separator{
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    padding-left: 1vw;
    padding-right: 5vw;
    padding-bottom: 1vw;
    color:white;
    font-size: 1.5em;
}

th.header{
    margin: 0;
    padding-left: .7em;
    padding-right: 1.5em;
    border-bottom: 2px black solid;
    padding-bottom: 1vw;
    font-size: 1.5em;
    color:white;
    overflow: hidden;
}

table.nvidia tr td{
    color: black;
    font-size: 1em;
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    padding: 0.5em;
}

table.nvidia tr td.title{
    border-bottom: 2px black solid;
    border-right: 0;
    color: white;
    font-size: 1.5em;
}

table.amd{
    text-align: center;
    width: 20vw;
    font-size: 1vw;
    border-radius: 10px;
    padding:8px 6px;
    margin: auto;
    margin-bottom: 10px;
}

th.amd{
    font-size: 1.3vw;
    padding:2px 8px;
    color:red;
    background: white;
    border-radius: 20px;
    border: 1px black solid;
}

td.amd{
    font-size: 1vw;
    background: navajowhite;
    border-radius: 20px;
    padding-bottom: 10px;
    border: 1px black solid;
    padding-top:10px;
}

img.cpusList{
    height: 50px;
    width: auto;
    border-radius: 10px;
}

div.cpus{
    position: relative;
    width: 50%;
    margin: 0 auto;
}

div.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vw;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-radius: 30px;
}

div.cpus:hover div.overlay{
    opacity: 5;
}

div.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

p.footerImage a{
    color: crimson;
}

li a{
    color:antiquewhite;
}

div.centralBodyIntel ol{
    font-size: 1.4vw;
    color: saddlebrown;
    margin-bottom: 10px;
    margin-left: 3vw;
}

div.footer{
    height: 10vw;
    bottom: 80%;
    width: 100%;
    background: #fbc2eb;
}